<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>ID</td>
    <td>{{id}}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{name}}</td>
  </tr>
  <tr>
    <td>Coordinates</td>
    <td>{{coordinates}}</td>
  </tr>
  <tr>
    <td>Humidity</td>
    <td>{{humidity}}</td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>{{pressure}}</td>
  </tr>
  <tr>
    <td>Temperature</td>
    <td>{{temperature}}</td>
  </tr>
  <tr>
    <td>Temperature Min</td>
    <td>{{temperature_min}}</td>
  </tr>
  <tr>
    <td>Temperature Max</td>
    <td>{{temperature_max}}</td>
  </tr>
  <tr>
    <td>Visibility</td>
    <td>{{visibility}}</td>
  </tr>
  <tr>
    <td>Wind Speed</td>
    <td>{{windSpeed}}</td>
  </tr>
  <tr>
    <td>Wind Gust</td>
    <td>{{windGust}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{country}}</td>
  </tr>
  <tr>
    <td>Sun Rise</td>
    <td>{{sunrise}}</td>
  </tr>
  <tr>
    <td>Sun Set</td>
    <td>{{sunset}}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{date}}</td>
  </tr>
</table>
<br>
<a href="/async?id=1701668">Metro Manila</a> | <a href="/async?id=1717512">Metro Cebu</a> | <a href="/async?id=7521309">Metro Davao</a>